@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #131313;
}
h1 {
  color: white;
  font-family: "Roboto";
}
.media-picture {
  height: 350px;
  background-image: url(./img/vingadores.jpg);
  background-repeat: no-repeat;
}
.review-score {
  color: white;
  background-color: #e6bd09;
  padding: 12px;
}
h2 {
  color: steelblue;
}
p {
  color: #bdbdbd;
  font-family: Roboto;
}
a {
  color: yellow;
}
